<h1 class="title has-text-black is-2 has-background-primary">Nueva Critica</h1>
<%= form_for([@publication, @critica]) do |f| %>
    <div class="field">
        <%= f.label :Rating, :class => "label"%>
        <div class="control">
        <%= f.text_field :rating, :class => "input is-rounded" %>
        </div>
    </div>

    <div class="field">
        <%= f.label :Comentario, :class => "label"%>
        <div class="control">
        <%= f.text_field :comment, :class => "input is-rounded" %>
        </div>
    </div>

    <div>
        <%= f.submit :submit %>
    </div>


<% end %>